
@font-face {
    font-family: myFirstFont;
    src: url(WeddingdayPersonalUseRegular-1Gvo0.ttf);
}

.col{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}
.col a{
    font-size: 60px;
    color: rgb(1, 1, 1);
    text-decoration: none;
    font-family: myFirstFont ;
}

.col a:hover{
    transform: scale(1.2);
    color: aliceblue;
}