@font-face {
    font-family: myFirstFont;
    src: url(WeddingdayPersonalUseRegular-1Gvo0.ttf);
}
html{
    
    border:solid;
    border-width:medium;
    margin: 50px;
    

    
}
.body {

    display: flex;
   
}

.border{
    background-image:radial-gradient(rgb(0, 0, 0),rgb(36, 35, 35),rgb(67, 67, 71),rgb(83, 83, 85),rgb(106, 106, 111),rgb(147, 144, 144) ,rgb(231, 231, 231));
    border: solid;
    margin: 30px;
    border-width: thick;
}
.body div {
    display: flex;
    flex-direction: column;
}

.nav {
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.img {
    display: flex;
    justify-content: center;
}

.img img {

    height: 215px;
    margin-left: 50px;
    margin-top: 70px;
 
    border: solid;
    border-color: black;
    filter: grayscale(100%);
}

.user_details {
    display: flex;
    justify-content: space-between;

}

.username {

    display: flex;
    justify-content: end;
    margin-right: 20px;
    font-size: 100px;

}

.border p , .yt69 p {
   
    display: flex;
    justify-content: center;
    font-family: myFirstFont;
    font-size: 50px;
}

.nav a {
    
    text-decoration: none;
    color: rgb(6, 6, 6);
    margin: 10px;
    margin-left: 0;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
}
.pos{
    
    font-size: 40px;
    font-weight: 500;
   
    justify-content: end;
    margin-right: 30px;
}
.yt69{
    display: flex;
    flex-direction: column;
}
